$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #19497F,
        secondary:#59C3C3,
        b-light:#EBEBEB,
    ),
    grey: (
        1:#F8FAFA,
        2:#F5F6F8,
    ),
    text: (
        body:#292930,
        1:#000,
        2:#777C90,
    ),
    theme: (
        1: #19497F,
        2: #CAD2C5,
    ),
    border: (
        1: #fff,
        2: #CAD2C5,
    )
);
